
.sidebar {
    width: 250px;
    background: #001529;
    color: white;
    height: 100vh;
    padding: 15px;
    position: fixed;
  }
  
  .sidebar h2 {
    color: white;
    margin-bottom: 20px;
  }